<!DOCTYPE html>
<html ng-app='gemStore'>
  <head>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body>
    <h1>{{"Hello, Angular!"}}</h1>
  </body>
</html><!DOCTYPE html>  <head>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body>  </body>
</html>

<body>
    <div ng-controller="StoreController as store"></div></div>
    <h1> {{store.product.name}} </h1>
    <!-- angular code ^for product name listed in app.js file-->
    <h2> ${{store.product.price}}</h2>
    <!-- angular code ^shows price of ^ products listed in app.js-->
    <p> {{store.product.description}} </p>
    </div>
    <!-- Angular code ^description information on each product listing from app.js -->
    <div class="product row" ng-show="!store.product.soldout">
    
      <h3>{{store.product.name}}
        <em class="pull-right">${{store.product.price}}</em>
      </h3>
    <button ng-show="store.product.canPurchase">Add to Cart</button> 
    
    </div>
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"</script></script>
</body>