<div ng-repeat="car in store.rentals[2]"class="card small hoverable col s6 m4">
    <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" ng-src="{{car.img}}">
    </div>
    <div class="divider"></div>
    <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{car.name}}<i class="material-icons right">more_vert</i></span>
        <!-- Example of currency filter -->
        <p class="flow-text">{{car.price | currency}}</p>

    </div>
    <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">{{car.name}}<i class="material-icons right">close</i></span>

        <p>{{car.description}}</p>
        <a class="waves-effect waves-light btn red lighten-1">Rent</a>
    </div>
</div>